[Unit]
Description=Pi-Chi CEC Remote Bridge
After=pi-chi-kiosk.service
Wants=pi-chi-kiosk.service
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/pi/pi-chi/scripts/cec-remote.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
